fastapi
uvicorn[standard]
pydantic
SQLAlchemy
requests
python-dotenv
# apscheduler  <-- Disabled for Vercel stability
# opencv-python-headless
# numpy
# psycopg2-binary
# pytest
# oss2  <-- Disabled for Vercel stability
